html,body {
    margin:0;
    padding:0;
}

body {
    color: white;
    background-color: transparent;
    overflow-x: hidden;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}



#hero {
    top:0;
    left: 0;
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1434064511983-18c6dae20ed5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5f29d037842c14cb81cddea387221b20');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 130vh;
    width: 100vw;
}

.hero-content {
  height: 100vh;
}


#wingHead {
    font-weight:bolder;
    font-size: 15vh;
    text-transform: uppercase;
    color: white;
}

#about {
    background-color: white;
    color: black;
    min-height: 50vh;
    width: 100vw;
    text-align: left;
}

#about .container {
  padding-top: calc(100vh/5);
}


#docs {
    background-color: white;
    color: black;
    min-height: 100vh;
    width: 100vw;
    text-align: left;
}

#docs .container {
  padding-top: calc(100vh/3);
}

.docSection {
  padding: 4rem 0;
}

#gridExample [class^='col-'] {
  background: #EEE;
  text-align: center;
  border-radius: 5px;
  font-size: 1.1rem;
  text-transform: uppercase;
  min-height: 30px !important;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: bold;
  letter-spacing: .1rem;
}

#hackButton {
  background: #40d5de;
}

#examples {
  background-color: white;
  color: black;
  min-height: 50vh;
  width: 100vw;
}

#thanks {
  background-color: white;
  color: black;
  min-height: 50vh;
  width: 100vw;
}
#social {
  position: fixed;
  z-index: 100;
  display: inline;
}

#footer {
  position: fixed;
  mix-blend-mode: difference;
  z-index: 100;
  display: invert;
}

#social {
    left: 5%;
  }
  #footer {
    right: 5%;
  }
  
#logo {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 100px;
}


@media (min-width: 600px) {
  #social, #footer {
    bottom: 5%;
  }
}

@media (max-width: 600px) {
  #social, #footer {
    position: absolute;
    margin-bottom: 1rem;
  }
}



#linkP {
    color: white;
    text-decoration: none;
}

/* Nav */
.button_container {
  position: fixed;
  width: 30px;
  height: 25px;
  z-index: 100;
  right: 5%;
  mix-blend-mode: difference;
  background: transparent;
  top: 5%;
  cursor: pointer;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
  transition: background 1s;
}

.button_container span {
  position: absolute;
  height: 2px;
  background-color: white;
  width: 100%;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.middle {
  top: 10px;
}

.bottom {
  top: 20px;
}

.button_container.active .top {
  -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
  transform: translateY(10px) translateX(0) rotate(45deg);
  background: white;
}

.button_container.active .middle {
  opacity: 0;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
  transform: translateY(-10px) translateX(0) rotate(-45deg);
  background: white;
}

.overlay {
  font-family: 'Quicksand';
  position: fixed;
  background: black;
  visibility: hidden;
  width: 100%;
  height: 0%;
  left: 0;
  top: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity .35s, height .35s, visibility .35s;
  transition: opacity .35s, height .35s, visibility .35s;
  z-index: 1;
}

.overlay.open {
  height: 100%;
  opacity: .9;
  visibility: visible;
}

.overlay.open li {
  -webkit-animation: fadeInTop .5s ease forwards;
  animation: fadeInTop .5s ease forwards;
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
  animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
  animation-delay: .50s;
}

.overlay .nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Quicksand', serif;
  font-weight: lighter;
  letter-spacing: 10px;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
	font-weight: normal;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 1px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    bottom: 20%;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    bottom: 20%;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

/* Util */
.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

/*.center {*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%,-50%);*/
/*}*/

.underline {
	position: relative !important;
}

.underline.black::after {
	content: '';
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid black;
  transition: all 0.4s ease;
}

.underline.white::after {
	content: '';
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid white;
  transition: all 0.4s ease;
}

.underline:hover::after {
	width:100%;
}


/* ads */
#carbonads {
  position: relative;
	color: #606c76;
	font-family: 'Quicksand';
	line-height: 1.6;
	margin: 0 auto;
	max-width: 30rem;
	background: #fff;
	background: rgba(256, 256, 256, .8);
	border-radius: 4px;
	overflow: hidden;
	padding: 1.5rem;
}
#carbonads span {
	overflow: hidden;
}

.carbon-img {
	display: block;
	border: none;
}

.carbon-text,
.carbon-poweredby {
	font-size: 1.2rem;
	text-align: left;
	text-decoration: none;
	display: block;
	font-weight: bold;
}

.carbon-text {
  color: #606c76;
}

.carbon-poweredby {
  margin-top: 0.5rem;
  color: #cc301e;
}

@media screen and (min-width: 400px){ 
  #carbonads {
    max-width: 30rem;
  }
  
  .carbon-img {
	  float: left;
  }
  
  .carbon-text, .carbon-poweredby {
    float: right;
    max-width: 44%;
    width: 44%;
  }
  
}

@media screen and (max-width: 400px){ 
  #carbonads {
    max-width: 15rem;
  }
  
  .carbon-img {
	  float: none;
	  text-align: center;
  }
  
  .carbon-text, .carbon-poweredby {
    float: none;
  }
  
  #hero {
    height: 140vh;
  }
  
}