body {
  background: #f5f5f5;
  color: #202020;
}

.container {
  max-width: 800px;
}

.nav {
  margin-top: 5rem;
}

.nav-item a {
  color: #797979;
  text-decoration: none;
  font-family: "Consolas", "Monaco", "Menlo", monospace;
}

.nav-item a:hover {
  cursor: pointer;
  color: #4d4a4a;
  border: none;
}

.hero {
  color: #363636;
  height: 80vh;
}

.hero div {
  margin-bottom: 5rem;
}

.hero h3 {
  font-family: "Edelsans", sans-serif;
  font-size: 5rem;
  margin-bottom: 0;
}

.hero h5 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: 200;
}

.grid-demo-col {
  background: #e4e4e4;
}

.header {
  font-weight: 200;
}

.content {
  font-size: 1.8rem;
}

.card {
  background: #FAFAFA;
}

.string {
  color: #02C1A7;
}
.special {
  color: #AC2EC5;
}
.global {
  color: #db9114;
}
.method {
  color: #00A2CD;
}
.comment {
  color: #989898;
}

/* === Footer === */
footer {
  margin: 50px;
}

#footer-link {
  font-size: 16px;
  text-decoration: none;
  color: #111111;
}

#footer-made, #footer-name, #footer-logo {
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

#footer-name {
  font-weight: 700;
}

#footer-logo {
  height: 25px;
  width: 25px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
}
