body {
  background: #f5f5f5;
  color: #202020;
}

.hero h3 {
  font-weight: 800;
  letter-spacing: 1rem;
  font-size: 5rem;
  margin-bottom: 0;
}

.hero h1 {
  margin-top: 1rem;
  font-weight: 200;
  font-size: 7rem;
}

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 4rem;
  }
}
