body {
  background: #f5f5f5;
  color: #202020;
}

.container {
  max-width: 800px;
}

.nav {
  margin-top: 5rem;
}

.nav-item a {
  color: #797979;
  text-decoration: none;
  font-family: "Consolas", "Monaco", "Menlo", monospace;
}

.nav-item a:hover {
  cursor: pointer;
  color: #4d4a4a;
  border: none;
}

.hero {
  color: #363636;
  height: 80vh;
}

.hero div {
  margin-bottom: 5rem;
}

.hero h3 {
  font-family: "Edelsans", sans-serif;
  font-size: 5rem;
  margin-bottom: 0;
}

.hero h5 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: 200;
}

.grid-demo-col {
  background: #e4e4e4;
}

.header {
  font-weight: 200;
}

.content {
  font-size: 1.8rem;
}

.margin-left-3 {
  margin-left: 3%;
}

@media screen and (max-width: 768px) {
  .margin-left-3 {
    margin-left: 0;
  }
}

/* === Footer === */
footer {
	position: absolute;
	margin: 5rem;
}

#footer-content {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#footer-name, #footer-madeby {
	margin-bottom: 0;
	margin-top: 0;
  margin-left: 1rem;
}

#footer-madeby {
  font-weight: 200;
}

#footer-name {
	font-weight: 700;
}

#footer-desc {
	font-size: 2.5rem;
}

#footer-logo {
	height: 75px;
	width: 75px;
	border-radius: 10px;
}

#footer-link {
	color: #202020;
	text-decoration: none;
}
