/*------------------------------------------------------------
  Animations
------------------------------------------------------------*/

/*fadeIn*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* fade in class */

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*fade out keyframes */

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*class name for fadeOut*/

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

animate

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
