/*=============================
  Base Styles
=============================*/

*
  box-sizing: border-box

html, body
  margin: 0
  padding: 0

body
  line-height: 1.6
  color: color-black
  font-size: typography-size-base
  font-weight: 400
  font-family: font
