/*=============================
  Base Styles
=============================*/

*
  box-sizing: border-box

html, body
  margin: 0
  padding: 0

html
  font-size: 62.5%

body
  line-height: 1.6
  color: color-black
  font-size: 1.5rem
  font-weight: 400
  font-family: font
