/*------------------------------------------------------------
  Base Style
------------------------------------------------------------*/

/*making font-sizes base 10*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/*setting up font sizes and base font family*/
body {
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}
