/*------------------------------------------------------------
  Buttons/Components
------------------------------------------------------------*/

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 2vh 8vh;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}


/* Button Outline */

.btn-outline {
  border: 3px solid #fff;
  color: #fff;
}

.btn-outline:hover,
.btn-outline:active {
  color: #000;
  background: #fff;
}


/* Button 3D */

.btn-3d {
  background: #323133;
  color: #fff;
  box-shadow: 0 6px #3C3B3D;
  -webkit-transition: none;
  transition: none;
  border-radius: 5px;
}

.btn-3d:hover {
  box-shadow: 0 4px #3C3B3D;
  top: 2px;
}

.btn-3d:active {
  box-shadow: 0 0 #3C3B3D;
  top: 6px;
}


/* Button Round */

.btn-round {
  border-radius: 50px;
  border: 3px solid #fff;
  color: #fff;
}


.btn-round:hover, .btn-round:active {
  color: #000;
  background: #fff;
}

/* Button Clear */

.btn-clear {
    background: transparent;
    color: gray;
}
