/*=============================
  Buttons
=============================*/

button, .button, [type=submit] {
  padding: 1.1rem 3.5rem;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #f5f5f5;
  font-size: 1.5rem;
  background: #111111;
  border: 1.5px solid #111111;
  border-radius: 2px;
  transition: all .2s ease;
}

button.outline, .button.outline, [type=submit].outline {
  color: #111111;
  background: none;
  border: 1.5px solid #111111;
}

button:hover, .button:hover, [type=submit]:hover {
  color: #f5f5f5;
  background: #222222;
}

button.outline:hover, .button.outline:hover, [type=submit].outline:hover {
  background: none;
  border: 1.5px solid #222222;
  color: #222222;
}

button:focus, .button:focus, [type=submit]:focus {
  outline: none;
}

button:active, .button:active, [type=submit]:active {
  transform: scale(.99);
}

button:disabled, .button:disabled, .button.disabled, [type=submit]:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
