/*------------------------------------------------------------
  Buttons/Components
------------------------------------------------------------*/

.btn, button, [type=submit] {
  margin: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  color: #f5f5f5;
  background: #131313;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 60ms ease-in-out;
  transition: all 60ms ease-in-out;
}
.btn:hover, button:hover, [type=submit]:hover {
  opacity: .85;
}
.btn:active, button:active, [type=submit]:active {
  -webkit-transition: all 60ms ease;
  transition: all 60ms ease;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  opacity: .75;
}
.btn:focus, button:focus, [type=submit]:focus {
  outline: none;
}

.btn:disabled, button:disabled, [type=submit]:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}


/* Button Outline */

.btn-outline {
  border: 3px solid #f5f5f5;
  color: #f5f5f5;
  background: transparent;
  transition: all 0.5s ease;
}

.btn-outline:hover,
.btn-outline:active {
  color: #131313;
  background: #f5f5f5;
}

.btn-outline-inverted {
  border: 3px solid #131313;
  color: #f5f5f5;
  background: transparent;
  transition: all 0.5s ease;
}

.btn-outline-inverted:hover,
.btn-outline-inverted:active {
  color: #f5f5f5;
  background: #131313;
}


/* Button Clear */

.btn-clear {
    background: transparent;
    color: #eee;
}
