/*=============================
  Card
=============================*/

.card
  display: flex
  flex-direction: column
  margin-bottom: base
  border-round(color-gray)

  .card-content
    margin: 0
    padding: base

  .card-image
    display: block
    height: auto
    width: 100%
