/*=============================
  Card
=============================*/

.card
  display: flex
  flex: 0 1 calc(50% - 0.5rem)
  flex-direction: column
  margin-bottom: 10px
  round-border(color-gray)

  .card-content
    margin: 0
    padding: 10px

  .card-image
    display: block
    height: auto
    width: 100%
