/*=============================
  Code
=============================*/

pre
  margin-top: 0
  margin-bottom: 10px

  code
    display: block
    padding: 10px 10px
    white-space: pre-wrap
    word-wrap: break-word

code
  padding: 2px
  white-space: nowrap
  background: #E7E7E7
  round-border(#D7D7D7)
  font-family: "Consolas", "Monaco", "Menlo", monospace
