/*=============================
  Form
=============================*/

input[type=text], input[type=password], input[type=email], input[type=search], input[type=number], input[type=file], input[type=tel], input[type=url], select, textarea
  height: 45px
  width: 100%

  margin-bottom: base
  padding: base

  font-size: typography-size-base
  background: color-white

  border-round(color-gray)

  transition: transition

  &:hover
    border-color: color-black

  &:focus
    outline: none
    border-color: color-blue

textarea
  min-height: 70px
