/*------------------------------------------------------------
  Forms
------------------------------------------------------------*/

input[type=text] {
  box-sizing: border-box;
  padding: 5px;
  font-size: 1.25rem;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  outline-width: 20px;
  outline-style: solid;
  outline-color: transparent;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
input[type=text]:focus {
  outline-width: 3px;
  outline-color: #6BCBF6;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}