/*=============================
  Form
=============================*/

input[type=text], input[type=password], input[type=email], input[type=search], input[type=number], input[type=file], input[type=tel], input[type=url], select, textarea
  height: 45px
  width: 100%

  margin-bottom: 10px
  padding: 10px

  font-size: typography-size-base
  background: color-white

  border-round(color-gray)

  transition: transition

  &:hover
    border-color: color-black

  &:focus
    outline: none
    border-color: color-blue

textarea
  min-height: 70px

select
  -webkit-appearance: none
  -moz-appearance: none
  background: color-white url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292%22%20height%3D%22292%22%3E%3Cpath%20d%3D%22M287%2069c-4-3-8-5-13-5H18c-5%200-9%202-13%205-3%204-5%208-5%2013s2%209%205%2013l128%20128c4%204%208%205%2013%205s9-1%2013-5L287%2095c4-4%205-8%205-13s-1-9-5-13z%22%20%2F%3E%3C%2Fsvg%3E') no-repeat
  background-position: right 10px top 50%
  background-size: 12px 12px
