/*------------------------------------------------------------
  Forms
------------------------------------------------------------*/

input[type=text], input[type=password], input[type=email], input[type=search], input[type=number], select, textarea, textarea[type=text] {
  margin: 1rem 0;
  width: 100%;
  max-width: 100%;
  border-radius: 2px;
  border: 1px solid #a4a4a4;
  font-size: 1.3rem;
  transition: all .2s ease;
}

input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, input[type=search]:hover, input[type=number]:hover, select:hover, textarea:hover, textarea[type=text]:hover {
  border: 1px solid #111111;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=search]:focus, textarea:focus, textarea[type=text]:focus {
  outline: none;
  border: 1px solid #104cfb;
}

input[type=text], input[type=password], input[type=email], input[type=search], input[type=number], select {
  padding: 1.1rem;
}

textarea, textarea[type=text] {
  height: 10rem;
  padding: 14px 20px;
}
