/*=============================
  Form
=============================*/

input[type=text], input[type=password], input[type=email], input[type=search], input[type=number], input[type=file], input[type=tel], input[type=url], select, textarea
  height: 45px
  width: 100%

  margin-bottom: 10px
  padding: 10px

  font-size: typography-size-base
  background: color-white

  border-round(color-gray)

  transition: transition

  &:hover
    border-color: color-black

  &:focus
    outline: none
    border-color: color-blue

textarea
  min-height: 70px

select
  -webkit-border-radius: 2px
  -webkit-appearance: none
  background: color-white url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjhweCIgaGVpZ2h0PSIzNHB4IiB2aWV3Qm94PSIwIDAgMjggMzQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDQ4LjEgKDQ3MjUwKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5pY24tc2VsZWN0PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM+PC9kZWZzPgogICAgPGcgaWQ9IkFydGJvYXJkIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTEuMDAwMDAwLCAtOC4wMDAwMDApIj4KICAgICAgICA8cGF0aCBkPSJNMzguOTcwNTYyNywyMiBMMTAuOTcwNTYyNywyMiBMMjQuOTcwNTYyNyw4IEwzOC45NzA1NjI3LDIyIFogTTM4LjkxMTY4ODIsMjggTDI0Ljk3MDU2MjcsNDEuOTQxMTI1NSBMMTEuMDI5NDM3MywyOCBMMzguOTExNjg4MiwyOCBaIiBpZD0iaWNuLXNlbGVjdCIgZmlsbD0iIzAwMDAwMCI+PC9wYXRoPgogICAgPC9nPgo8L3N2Zz4=') no-repeat
  background-position: right 10px top 50%
  background-size: 12px 12px
