/*------------------------------------------------------------
  Forms
------------------------------------------------------------*/

input[type=text], input[type=password], input[type=email], input[type=search], input[type=number], input[type=file], input[type=tel], select, textarea, textarea[type=text] {
  padding: 13px 11px;
  width: 100%;
  max-width: 100%;
  border-radius: 2px;
  border: 1px solid #a4a4a4;
  font-size: 1.3rem;
  transition: all .2s ease;
}

input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, input[type=search]:hover, input[type=number]:hover, input[type=file], input[type=tel], select:hover, textarea:hover, textarea[type=text]:hover {
  border: 1px solid #111111;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=search]:focus, input[type=number], input[type=file], input[type=tel], select:focus, textarea:focus, textarea[type=text]:focus {
  outline: none;
  border: 1px solid #104cfb;
}

textarea, textarea[type=text] {
  min-height: 7rem;
}
