/*------------------------------------------------------------
  Forms
------------------------------------------------------------*/

form {
  display: block;
  clear: both;
  font-family: 'Raleway';
}
form label {
  padding: 10px 0;
  display: inline-block;
  color: #575757;
}
form input[type=text],
form input[type=email],
form textarea {
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: none;
  display: block;
  border: 2px solid #e0e0e4;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
form input[type=text]:focus,
form input[type=email]:focus,
form textarea:focus {
  border-color: #3BAFDA;
}

form input:focus {
  outline: none;
}