.container {
  max-width: 960px;
  margin: 0 auto 1.5em;
  width: 80%;
}

/* .row */
.row {
  display: flex;
  justify-content: space-between;
}


/* col */
.col {
  flex: 1;
  display: block;
  margin: 1rem;
}

/*

    Mediaqueries

*/
@media screen and (max-width: 768px) {
  .row {
    margin-top: 0;
  }

  .row [class^='col-'], .row [class*=" col-"] {
    width: 100%;
    margin-top: 2.0833%;
    margin-left: 0;
  }
}
