/*=============================
  Grid
=============================*/

.container {
  max-width: 960px;
  margin: 0 auto;
  width: 80%;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
}

.row > :first-child {
  margin-left: 0;
}

.col {
  flex: 1 1 0px;
}

.col, [class^='col-'], [class*=" col-"] {
  margin-left: 4%;
}

.col-1 {
  width: 4.333333333333332%;
}

.col-2 {
  width: 12.666666666666664%;
}

.col-3 {
  width: 21%;
}

.col-4 {
  width: 29.33333333333333%;
}

.col-5 {
  width: 37.66666666666667%;
}

.col-6 {
  width: 46%;
}

.col-7 {
  width: 54.333333333333336%;
}

.col-8 {
  width: 62.66666666666666%;
}

.col-9 {
  width: 71%;
}

.col-10 {
  width: 79.33333333333334%;
}

.col-11 {
  width: 87.66666666666666%;
}

.col-12 {
  width: 96%;
}

@media screen and (max-width: 768px) {
  .col, [class^='col-'], [class*=" col-"] {
    margin: 1rem 0;
    flex: 0 0 100%;
  }
}
