/*=============================
  Grid
=============================*/

.container {
  max-width: 960px;
  margin: 0 auto;
  width: 80%;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row > :first-child {
  margin-left: 0;
}

.col {
  flex: 1;
}

.col, [class^='col-'], [class*=" col-"] {
  margin-left: 4%;
}

.col-1 {
  width: 8.333333333333332%;
}

.col-2 {
  width: 16.666666666666664%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333333333%;
}

.col-5 {
  width: 41.66666666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333333333336%;
}

.col-8 {
  width: 66.66666666666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333333333334%;
}

.col-11 {
  width: 91.66666666666666%;
}

.col-12 {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .col, [class^='col-'], [class*=" col-"] {
    margin: 1rem 0;
    flex: 0 0 100%;
  }
}
