/*=============================
  Grid
=============================*/

.container
  width: 80%
  max-width: 960px
  margin: 0 auto

.row
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  width: 100%
  margin-bottom: base

  &:last-child
    margin-bottom: 0

  .col
    flex-grow: 1
    flex-basis: 0

  .col, [class^="col-"], [class*=" col-"]
    padding-top: base
    padding-right: base
    padding-left: base

  for col-number in 1...(columns + 1)
    .col-{col-number}
      width: ((col-number / columns) * 100)%

  @media screen and (max-width: 768px)
    .col, [class^='col-'], [class*=" col-"]
      flex-grow: 0
      flex-basis: 100%
      margin-bottom: base
      padding: 0

      &:last-child
        margin-bottom: 0
