/*=============================
  Grid
=============================*/

.container
  width: 80%
  max-width: 960px
  margin: 0 auto

.row
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  width: 100%
  margin-bottom: 10px

  &:last-child
    margin-bottom: 0

  .col
    flex: 1 1 0px

  .col, [class^="col-"], [class*=" col-"]
    padding-top: 10px
    padding-right: 10px
    padding-left: 10px

  for col-number in 1...(columns + 1)
    .col-{col-number}
      width: ((col-number / columns) * 100)%

  @media screen and (max-width: 768px)
    .col, [class^='col-'], [class*=" col-"]
      flex: 0 0 100%
      margin-bottom: 10px
      padding: 0

      &:last-child
        margin-bottom: 0
