/*------------------------------------------------------------
  Images
  ------------------------------------------------------------*/

.img-circle {
    border-radius: 50%;
}

.img-rounded {
    border-radius: 3px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
