/*------------------------------------------------------------
  Links
------------------------------------------------------------*/
a {
  color: #104cfb;
  transition: all .1s ease;
}

a:hover {
  color: #222222;
}
