/*=============================
  List
=============================*/

ul, ol
  margin-top: 0
  margin-bottom: 1rem
  padding-left: 0
  list-style-position: inside

  li
    margin-bottom: 1rem

    &:last-child
      margin-bottom: 0

  ul, ol
    margin-left: 1rem
