/*=============================
  List
=============================*/

ul, ol
  margin-top: 0
  margin-bottom: 10px
  padding-left: 0
  list-style-position: inside

  li
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0

  ul, ol
    margin-left: 10px
