/*=============================
  Misc
=============================*/

pre {
  margin-top: 0;
  margin-bottom: 2rem;
}

code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 1.3rem;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-family: "Consolas", "Monaco", "Menlo", monospace;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}
