/*------------------------------------------------------------
  Navigation
  ------------------------------------------------------------*/

.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

.nav-menu,
.nav-brand {
  display: flex;
}

.nav-menu {
  flex-flow: row;
  flex: 1 0 auto;
}

.nav-item {
  padding: 1rem 2rem;
}

.nav-logo {
  font-weight: bolder;
  font-size: 2rem;
  line-height: 0;
  padding-right: 2rem;
}
