/*=============================
  Navigation
=============================*/

.nav
  position: relative
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  padding-top: base
  padding-bottom: base

  .nav-item
    margin-right: base

    &:last-child
      margin-right: 0
