/*=============================
  Typography
=============================*/

h1, h2, h3, h4, h5, h6, p
  margin-top: 0
  margin-bottom: 10px
  font-family: font

h1, h2, h3, h4, h5, h6
  font-weight: 500

h1
  font-size: typography-size-1
  line-height: 1.2

h2
  font-size: typography-size-2
  line-height: 1.25

h3
  font-size: typography-size-3
  line-height: 1.3

h4
  font-size: typography-size-4
  line-height: 1.35

h5
  font-size: typography-size-5
  line-height: 1.5

h6
  font-size: typography-size-6
  line-height: 1.6

p
  font-size: typography-size-base

@media (max-width: 768px)
  h1
    font-size: typography-size-small-1

  h2
    font-size: typography-size-small-2

  h3
    font-size: typography-size-small-3

  h4
    font-size: typography-size-small-4

  h5
    font-size: typography-size-small-5

  h6
    font-size: typography-size-small-6
