/*=============================
  Utilities
=============================*/

// Text
.text-left
  text-align: left;

.text-center
  text-align: center;

.text-right
  text-align: right;

// Height/Width
.full-height
  min-height: 100vh

.full-width
  width: 100%

.full-screen
  width: 100%
  min-height: 100vh

// Flexbox Utilities
.flex
  display: flex

.justify-start
  justify-content: flex-start

.justify-center
  justify-content: center

.justify-end
  justify-content: flex-end

.align-start
  align-items: flex-start

.align-center
  align-items: center

.align-end
  align-items: flex-end

.vertical-direction
  flex-direction: column

.horizontal-direction
  flex-direction: row

.center
  flex-direction: column
  justify-content: center
  align-items: center

// Colors
.color-black
  color: color-black

.color-white
  color: color-white

.color-blue
  color: color-blue

.color-red
  color: color-red

.color-yellow
  color: color-yellow

.color-green
  color: color-green

// Backgrounds
.background-black
  background-color: color-black

.background-white
  background-color: color-white

.background-blue
  background-color: color-blue

.background-red
  background-color: color-red

.background-yellow
  background-color: color-yellow

.background-green
  background-color: color-green
