/*------------------------------------------------------------
  Utilities
------------------------------------------------------------*/

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.full-screen {
  width: 100%;
  min-height: 100vh;
}

.full-width {
  width: 100%;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.horizontal-align {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fixed {
  position: fixed;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .hide-phone { display: none; }
}

@media screen and (max-width: 768px) {
  .hide-tablet { display: none; }
}
