/*=============================
  Utilities
=============================*/

// Text
.text-left
  text-align: left;

.text-center
  text-align: center;

.text-right
  text-align: right;

// Height/Width
.full-height
  min-height: 100vh

.full-width
  width: 100%

.full-screen
  width: 100%
  min-height: 100vh

// Vertical/Horizontal Align
.vertical-align
  display: flex
  align-items: center

.horizontal-align
  display: flex
  justify-content: center

.left
  display: flex
  justify-content: flex-start

.center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.right
  display: flex
  justify-content: flex-end

// Colors
.color-black
  color: color-black

.color-white
  color: color-white

.color-blue
  color: color-blue

.color-red
  color: color-red

.color-yellow
  color: color-yellow

.color-green
  color: color-green

@media screen and (max-width: 400px)
  .hide-phone
    display: none

@media screen and (max-width: 768px)
  .hide-tablet
    display: none
