/*------------------------------------------------------------
  Utilities
------------------------------------------------------------*/

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-center {
  text-align: center;
}

.full-screen {
  width: 100%;
  min-height: 100vh;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.horizontal-align {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
