/*------------------------------------------------------------
  Utilities
------------------------------------------------------------*/

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.horizontal-align {
  display: flex;
  justify-content: center;
}

.vetical-align {
  display: flex;
  align-items: center;
}